<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Samaneh | <%= title %></title>
    <!-- because we used express to make this file public we don't need to give the path from public folder. it will automatically look into the public folder -->
    <link rel="stylesheet" href="/styles.css">
</head>