<!-- partials or partial templates are parts of the ejs template that can be reused in different views. -->
<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Samaneh</h1></a>
      <p>Welcome to my new Site</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>